/* the css file from the meego theme */
body {
	font-family: monospace, sans-serif ;
	/*background-image: url("/fractal-tile.jpg") ;*/
	background-image: url("/stars-1-wp.jpg") ;
	/*fractal-tile.jpg*/
	/*background-color: #0a0c1f;*/
	color: #ccc ;
	font-size: 1.2em;
}

main {
	max-width: 80% ;
	margin: auto ;
	padding: 20px;
	text-align:left;
	background-color: rgba(0,0,0,0.8);
}

img {
	max-width: 100% ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

a {
 	color: gold;
    text-decoration:none;
    font-style: oblique;
}
a:hover{
    color: #4a9fff;
}
li {
	font-weight: bold;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
